# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Project-1
# dependencies
/practice-1/node_modules
/practice-1/.pnp
/practice-1/.pnp.js

# testing
/practice-1/coverage

# production
/practice-1/build

# misc
/practice-1/.DS_Store
/practice-1/.env.local
/practice-1/.env.development.local
/practice-1/.env.test.local
/practice-1/.env.production.local

/practice-1/npm-debug.log*
/practice-1/yarn-debug.log*
/practice-1/yarn-error.log*

# Project-2
# dependencies
/practice-2/node_modules
/practice-2/.pnp
/practice-2/.pnp.js

# testing
/practice-2/coverage

# production
/practice-2/build

# misc
/practice-2/.DS_Store
/practice-2/.env.local
/practice-2/.env.development.local
/practice-2/.env.test.local
/practice-2/.env.production.local

/practice-2/npm-debug.log*
/practice-2/yarn-debug.log*
/practice-2/yarn-error.log*


# Project-3
# dependencies
/practice-3/node_modules
/practice-3/.pnp
/practice-3/.pnp.js

# testing
/practice-3/coverage

# production
/practice-3/build

# misc
/practice-3/.DS_Store
/practice-3/.env.local
/practice-3/.env.development.local
/practice-3/.env.test.local
/practice-3/.env.production.local

/practice-3/npm-debug.log*
/practice-3/yarn-debug.log*
/practice-3/yarn-error.log*