.App {
  background-color: #a50000;
  height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 25s linear;
    border-color: snow;
    background-color: tan;
    box-shadow: black;
    border: solid;
  }
}

.nav {
  background-color: wheat;
  color: wheat;
}

.App-header {
  background-color: #a50000;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  padding: 5px 5px 5px 5px;
  font-family: monospace;
  background-color: burlywood;
  width: 50%;
}
