#container {
  font-size: 10px;
  color: wheat;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
  color: white;
}
.text {
  font-size: 11px;
  font-stretch: semi-expanded;
  font-weight: bold;
  text-align: justify;
  font-family: serif;
}
